$blue_toolbar_background: #048;
$blue_toolbar_foreground: white;
$blue_button_background: lighten($blue_toolbar_background, 50%);
$blue_button_foreground: black;
$blue_pill_background: lighten($blue_toolbar_background, 15%);
$blue_pill_foreground: white;
$blue_pill_foreground_selected: white;
$blue_workspace_background: lighten($blue_toolbar_background, 10%);
$blue_workspace_foreground: white;
//$blue_toolbar_background: #248;
//$blue_toolbar_foreground: white;
//$blue_button_background: #acf;
//$blue_button_foreground: black;
//$blue_pill_background: #59f;
//$blue_pill_foreground: white;
//$blue_workspace_background: #36b;
//$blue_workspace_foreground: white;
