$green_toolbar_background: #282;
$green_toolbar_foreground: white;
$green_button_background: lighten($green_toolbar_background, 50%);
$green_button_foreground: black;
$green_pill_background: lighten($green_toolbar_background, 15%);
$green_pill_foreground: white;
$green_pill_foreground_selected: white;
$green_workspace_background: lighten($green_toolbar_background, 10%);
$green_workspace_foreground: white;
//$green_toolbar_background: #482;
//$green_toolbar_foreground: white;
//$green_button_background: #cfa;
//$green_button_foreground: black;
//$green_pill_background: #9f5;
//$green_pill_foreground: black;
//$green_workspace_background: #6b3;
//$green_workspace_foreground: white;
