$orange_toolbar_background: darkorange;
$orange_toolbar_foreground: white;
$orange_button_background: lighten($orange_toolbar_background, 35%);
$orange_button_foreground: black;
$orange_pill_background: lighten($orange_toolbar_background, 15%);
$orange_pill_foreground: black;
$orange_pill_foreground_selected: black;
$orange_workspace_background: lighten($orange_toolbar_background, 10%);
$orange_workspace_foreground: white;
//$orange_toolbar_background: #842;
//$orange_toolbar_foreground: white;
//$orange_button_background: #fca;
//$orange_button_foreground: black;
//$orange_pill_background: #f95;
//$orange_pill_foreground: white;
//$orange_workspace_background: #b63;
//$orange_workspace_foreground: white;
