$red_toolbar_background: #824;
$red_toolbar_foreground: white;
$red_button_background: #fac;
$red_button_foreground: black;
$red_pill_background: #f59;
$red_pill_foreground: white;
$red_workspace_background: #b36;
$red_workspace_foreground: white;
