$purple_toolbar_background: #804;
$purple_toolbar_foreground: white;
$purple_button_background: lighten($purple_toolbar_background, 50%);
$purple_button_foreground: black;
$purple_pill_background: lighten($purple_toolbar_background, 15%);
$purple_pill_foreground: white;
$purple_pill_foreground_selected: white;
$purple_workspace_background: lighten($purple_toolbar_background, 10%);
$purple_workspace_foreground: white;
//$purple_toolbar_background: #824;
//$purple_toolbar_foreground: white;
//$purple_button_background: #fac;
//$purple_button_foreground: black;
//$purple_pill_background: #f59;
//$purple_pill_foreground: white;
//$purple_workspace_background: #b36;
//$purple_workspace_foreground: white;
