$red_toolbar_background: maroon;
$red_toolbar_foreground: white;
$red_button_background: lightpink;
$red_button_foreground: black;
$red_pill_background: palevioletred;
$red_pill_foreground: white;
$red_workspace_background: indianred;
$red_workspace_foreground: white;
