$yellow_base_background: goldenrod;
$yellow_base_foreground_dark: black;
$yellow_base_foreground_light: white;
$yellow_settings_panel_background: lighten($yellow_base_background, 10%);
$yellow_settings_panel_foreground: lighten($yellow_base_foreground_dark, 0%);
$yellow_settings_panel_border: lighten($yellow_base_foreground_dark, 0%);
$yellow_settings_panel_title_background: darken($yellow_base_background, 5%);
$yellow_settings_panel_title_foreground: lighten($yellow_base_foreground_dark, 0%);
$yellow_workspace_background: lighten($yellow_base_background, 15%);
$yellow_workspace_foreground: lighten($yellow_base_foreground_dark, 0%);
$yellow_workspace_border: lighten($yellow_base_foreground_dark, 0%);
$yellow_workspace_toolbar_background: lighten($yellow_base_background, 0%);
$yellow_workspace_toolbar_foreground: lighten($yellow_base_foreground_light, 0%);
$yellow_workspace_toolbar_button_background: lighten($yellow_base_background, 35%);
$yellow_workspace_toolbar_button_foreground: lighten($yellow_base_foreground_dark, 0%);
$yellow_workspace_toolbar_button_border: lighten($yellow_base_foreground_dark, 0%);
$yellow_resources_toolbar_background: lighten($yellow_base_background, 0%);
$yellow_resources_toolbar_foreground: lighten($yellow_base_foreground_light, 0%);
$yellow_resources_toolbar_border: lighten($yellow_base_foreground_dark, 0%);
$yellow_resources_toolbar_button_background: lighten($yellow_base_background, 35%);
$yellow_resources_toolbar_button_foreground: lighten($yellow_base_foreground_dark, 0%);
$yellow_resources_toolbar_button_border: lighten($yellow_base_foreground_dark, 0%);
$yellow_resources_pillbar_background: lighten($yellow_base_background, 0%);
$yellow_resources_pillbar_foreground: lighten($yellow_base_foreground_dark, 0%);
$yellow_resources_pillbar_border: lighten($yellow_base_foreground_light, 0%);
$yellow_resources_pillbar_pill_background_selected: lighten($yellow_base_background, 35%);
$yellow_resources_pillbar_pill_foreground_selected: lighten($yellow_base_foreground_dark, 0%);
$yellow_resources_pillbar_pill_border_selected: lighten($yellow_base_foreground_dark, 0%);
$yellow_statusbar_background: lighten($yellow_base_background, 0%);
$yellow_statusbar_foreground: lighten($yellow_base_foreground_light, 0%);
$yellow_statusbar_border: lighten($yellow_base_foreground_dark, 0%);
$yellow_statusbar_progress_background: lighten($yellow_base_background, 35%);
$yellow_statusbar_progress_foreground: lighten($yellow_base_foreground_dark, 0%);
$yellow_statusbar_progress_border: lighten($yellow_base_foreground_dark, 0%);
