.consoleToolbarActions {
    position: absolute !important;

    top: 110px;
    height: 40px;
    right: 0;
    width: 350px;

    padding: 10px;
    /*padding-left: 20px;*/

    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #444;
}

.consoleToolbarActions .btnGroup {
    margin-right: 0;
}

.consoleToolbarActions .btnGroup a,
.consoleToolbarActions .btnGroup button,
.consoleToolbarActions button:visited,
.consoleToolbarActions button:active,
.consoleToolbarActions button:focus,
.consoleToolbarActions button:hover,
.consoleToolbarActions button:link,
.consoleToolbarActions .btnGroupLast button {
    background-image: linear-gradient(to bottom,#fff 0,#ddd 100%);
    background-repeat: repeat-x;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #ccc;
    color: #333;
}

.consoleToolbarActions .btnGroup a.active,
.consoleToolbarActions .btnGroup button.active,
.consoleToolbarActions .btnGroupLast a.active,
.consoleToolbarActions .btnGroupLast button.active {
    background-color: #ddd;
    border: 1px solid #bbb;
    background-image: none;
    color: #333;
}

.consoleToolbarActions.panel-hidden {
    display: none;
}
