@import "../_themes/blue.scss";

div.theme-blue .consoleToolbarActions {
    background: linear-gradient(90deg, $blue_toolbar_background, $blue_toolbar_background);
}

div.theme-blue .consoleToolbarActions .btnGroup a,
div.theme-blue .consoleToolbarActions .btnGroup button,
div.theme-blue .consoleToolbarActions button:visited,
div.theme-blue .consoleToolbarActions button:active,
div.theme-blue .consoleToolbarActions button:focus,
div.theme-blue .consoleToolbarActions button:hover,
div.theme-blue .consoleToolbarActions button:link,
div.theme-blue .consoleToolbarActions .btnGroupLast button {
    background: linear-gradient(180deg, $blue_button_background, $blue_button_background);
    color: $blue_button_foreground;
}

div.theme-blue .consoleToolbarActions .btnGroup a.active,
div.theme-blue .consoleToolbarActions .btnGroup button.active,
div.theme-blue .consoleToolbarActions .btnGroupLast a.active,
div.theme-blue .consoleToolbarActions .btnGroupLast button.active {
    background: linear-gradient(180deg, $blue_button_background, $blue_button_background);
    color: $blue_button_foreground;
}

//.consoleToolbarActions.panel-hidden {
//    display: none;
//}
