div.theme-red .consoleToolbarActions {
    background: linear-gradient(90deg, crimson, crimson, maroon);
}

div.theme-red .consoleToolbarActions .btnGroup a,
div.theme-red .consoleToolbarActions .btnGroup button,
div.theme-red .consoleToolbarActions button:visited,
div.theme-red .consoleToolbarActions button:active,
div.theme-red .consoleToolbarActions button:focus,
div.theme-red .consoleToolbarActions button:hover,
div.theme-red .consoleToolbarActions button:link,
div.theme-red .consoleToolbarActions .btnGroupLast button {
    background: linear-gradient(180deg, #fdd, #daa);
    color: black;
}

div.theme-red .consoleToolbarActions .btnGroup a.active,
div.theme-red .consoleToolbarActions .btnGroup button.active,
div.theme-red .consoleToolbarActions .btnGroupLast a.active,
div.theme-red .consoleToolbarActions .btnGroupLast button.active {
    background: linear-gradient(180deg, #fdd, #daa);
    color: black;
}

.consoleToolbarActions.panel-hidden {
    display: none;
}
