@import "../_themes/green.scss";

div.theme-green .resources-toolbar {
    background-color: $green_toolbar_background;
    color: $green_toolbar_foreground;
}

div.theme-green .resources-toolbar .custom-pills-color a.nav-link,
div.theme-green .resources-toolbar .custom-pills-color a.nav-link:hover {
    color: $green_toolbar_foreground;
}

div.theme-green .resources-toolbar .custom-pills-color .active a,
div.theme-green .resources-toolbar .custom-pills-color .active a:hover {
    background-color: $green_pill_background;
    color: $green_pill_foreground_selected;
}
