@import "../_themes/green.scss";

div.theme-green .resources-toolbar-actions {
    background: linear-gradient(90deg, $green_toolbar_background, $green_toolbar_background);
}

div.theme-green .resources-toolbar-actions .btnGroup a,
div.theme-green .resources-toolbar-actions .btnGroup button,
div.theme-green .resources-toolbar-actions button:visited,
div.theme-green .resources-toolbar-actions button:active,
div.theme-green .resources-toolbar-actions button:focus,
div.theme-green .resources-toolbar-actions button:hover,
div.theme-green .resources-toolbar-actions button:link,
div.theme-green .resources-toolbar-actions .btnGroupLast button {
    background: linear-gradient(180deg, $green_button_background, $green_button_background);
}

div.theme-green .resources-toolbar-actions .btnGroup a.active,
div.theme-green .resources-toolbar-actions .btnGroup button.active,
div.theme-green .resources-toolbar-actions .btnGroupLast a.active,
div.theme-green .resources-toolbar-actions .btnGroupLast button.active {
    background-color: $green_button_background;
    color: $green_button_foreground;
}
