div.theme-blue .resources-toolbar {
    background-color: navy;
    color: white
}

div.theme-blue .resources-toolbar .custom-pills-color a.nav-link,
div.theme-blue .resources-toolbar .custom-pills-color a.nav-link:hover {
    color: white;
}

div.theme-blue .resources-toolbar .custom-pills-color .active a,
div.theme-blue .resources-toolbar .custom-pills-color .active a:hover {
    background-color: cornflowerblue;
    color: white;
}
