@import "../_themes/purple.scss";

div.theme-purple .sprite-entity.selected {
    background: yellow;
    color: black;
}

div.theme-purple .sprite-entity {
    background: $purple_button_background;
    color: $purple_button_foreground;
    border: 2px solid $purple_toolbar_background;
}
