div.theme-red .resources-toolbar {
    background-color: maroon;
    color: white
}

div.theme-red .resources-toolbar .custom-pills-color a.nav-link,
div.theme-red .resources-toolbar .custom-pills-color a.nav-link:hover {
    color: white;
}

div.theme-red .resources-toolbar .custom-pills-color .active a,
div.theme-red .resources-toolbar .custom-pills-color .active a:hover {
    background-color: lightcoral;
    color: white;
}
