.sprite-entity.selected {
    background-color: lightgreen;
    color: black;
}

.sprite-entity {
    background: lightgray;
    color: black;
    display: grid;
    grid-template-columns: 60px 12fr;
    grid-template-rows: 29px 29px;
    border: 2px solid darkgray;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    /*padding: 5px 5px 5px 0;*/
    padding: 5px;
    /*margin: 2px 0;*/
    margin: 0 -5px;
}

.sprite-entity-image {
    grid-row: 1 / 2;
}

.sprite-entity img {
    width: 50px;
    height: 50px;
    margin: 3px 0 0 3px;
    border: 1px solid black;
}

.sprite-entity-name {
    grid-column: 2 / 12;
    grid-row: 1;
    font-size: 1.1em;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    display: grid;
    align-content: end;
    padding-left: 5px;
    border-left: 2px solid #aaa;
}

.sprite-entity-meta {
    grid-column: 2 / 24;
    grid-row: 2;
    font-size: 0.6em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
    border-left: 2px solid #aaa;
}

/* ************************************************* */

.sprite-item {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 2px solid #bbb;
    color: #333;
    padding: 5px 0;
    margin: 2px 0;

    height: 72px;
}

.sprite-item-image {
    display: inline;
    float: left;
}

.sprite-item-image img {
    width: 48px;
    height: 48px;
    border: black 1px solid;
    margin: 5px;
}

.sprite-item-text {
    display: inline;
    float: left;
}

.sprite-item-name {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 1.2em;
    font-weight: bolder;
    white-space: nowrap;
}

.sprite-item-meta {
    font-size: 0.8em;
    font-weight: normal;
}







.panel-hidden {
    display: none;
}
