@import "../_themes/orange.scss";

div.theme-orange .sprite-entity.selected {
    background: yellow;
    color: black;
}

div.theme-orange .sprite-entity {
    background: $orange_button_background;
    color: $orange_button_foreground;
    border: 2px solid $orange_toolbar_background;
}
