@import "../_themes/red.scss";

div.theme-red .workspacePanel {
    background: linear-gradient(180deg, $red_workspace_background, $red_workspace_background);
    color: $red_workspace_foreground;
    border-color: black;
}
