@import "../_themes/red.scss";

div.theme-red .workspaceStatusBar {
    background: linear-gradient(90deg, $red_toolbar_background, $red_toolbar_background);
    color: $red_toolbar_foreground;
    border-color: black;
}

div.theme-red #workspaceStatusBarProgressBar {
    background-color: $red_button_background;
}
