@import "../_themes/purple.scss";

div.theme-purple .workspaceToolbar {
    background-color: $purple_toolbar_background;
    border-color: black;
}

#themepurple {
    color: $purple_toolbar_background;
}

div.theme-purple .workspaceToolbar .btnGroup a,
div.theme-purple .workspaceToolbar .btnGroup button,
div.theme-purple .workspaceToolbar button:visited,
div.theme-purple .workspaceToolbar button:active,
div.theme-purple .workspaceToolbar button:focus,
div.theme-purple .workspaceToolbar button:hover,
div.theme-purple .workspaceToolbar button:link,
div.theme-purple .workspaceToolbar .btnGroupLast button {
    background: linear-gradient(180deg, $purple_button_background, $purple_button_background);
    border-color: black;
}

div.theme-purple .workspaceToolbar .btnGroup a.active,
div.theme-purple .workspaceToolbar .btnGroup button.active,
div.theme-purple .workspaceToolbar .btnGroupLast a.active,
div.theme-purple .workspaceToolbar .btnGroupLast button.active {
    background: linear-gradient(180deg, $purple_button_background, $purple_button_background);
    border-color: black;
}

div.theme-purple .workspaceToolbar select {
    background-image:
            url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjQuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyOTIuNCAyOTIuNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjkyLjQgMjkyLjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZD0iTTI4Nyw2OS40Yy0zLjQtMy41LTguMS01LjUtMTMtNS40SDE4LjRjLTUsMC05LjMsMS44LTEyLjksNS40QzIsNzIuNywwLDc3LjQsMCw4Mi4yYzAsNSwxLjgsOS4zLDUuNCwxMi45bDEyOCwxMjcuOQoJYzMuNiwzLjYsNy44LDUuNCwxMi44LDUuNHM5LjItMS44LDEyLjgtNS40TDI4Nyw5NWMzLjUtMy41LDUuNC03LjgsNS40LTEyLjhzLTEuOS05LjItNS41LTEyLjhMMjg3LDY5LjR6Ii8+Cjwvc3ZnPgo=),
            linear-gradient(to bottom, $purple_button_foreground 0%, w$purple_button_foreground 100%);
    border-color: black;
}
