@import "../_themes/orange.scss";

div.theme-orange .workspaceStatusBar {
    background: linear-gradient(90deg, $orange_toolbar_background, $orange_toolbar_background);
    color: $orange_toolbar_foreground;
    border-color: black;
}

div.theme-orange #workspaceStatusBarProgressBar {
    background-color: $orange_button_background;
}
