@import "../_themes/blue.scss";

div.theme-blue .workspaceStatusBar {
    background: linear-gradient(90deg, $blue_toolbar_background, $blue_toolbar_background);
    color: $blue_toolbar_foreground;
    border-color: black;
}

div.theme-blue #workspaceStatusBarProgressBar {
    background-color: $blue_button_background;
}
