@import "../_themes/orange.scss";

div.theme-orange .workspacePanel {
    background: linear-gradient(180deg, $orange_workspace_background, $orange_workspace_background);
    color: $orange_workspace_foreground;
    border-color: black;
}
